# Python / Poetry
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
.poetry/
poetry.lock
*.egg-info/

# VSCode / IDE
.vscode/
.idea/

# Local data and artifacts
data/
*.csv
*.xlsx
*.pdf
tests/_artifacts/
debug.log


# Tests cache
.pytest_cache/
